The program utilizes the Kaggle API to fetch a dataset and applies regular expression filtering to extract specific data. It first authenticates the Kaggle API, downloads the dataset, and loads it into a pandas DataFrame. Then, it defines a regular expression pattern and filters the DataFrame based on a specified column using the pattern. Finally, the filtered data is displayed.

In [ ]:
!kaggle datasets download -d imtkaggleteam/Clinical-Dataset

In [ ]:
import zipfile

In [ ]:
with zipfile.ZipFile("Clinical-Dataset.zip") as file:
    file.extractall()

In [2]:
import pandas as pd

In [3]:
patient= pd.read_csv("Clinical Data_Discovery_Cohort.csv")
patient

,PatientID,Specimen date,Dead or Alive,Date of Death,Date of Last Follow Up,sex,race,Stage,Event,Time
0,1,3/17/2003,Dead,2/24/2010,2/24/2010,F,B,pT2N2MX,1,2536
1,2,6/17/2003,Dead,11/12/2004,11/12/2004,M,W,T2N2MX,1,514
2,3,9/9/2003,Dead,8/1/2009,8/1/2009,F,B,T2N1MX,1,2153
3,4,10/14/2003,Dead,12/29/2006,12/29/2006,M,W,pT2NOMX,1,1172
4,5,12/1/2003,Dead,1/31/2004,1/31/2004,F,W,T2NOMX,1,61
5,6,3/8/2004,Alive,.,1/2/2013,M,W,pT2pN0,0,3222
6,7,3/16/2004,Dead,4/11/2006,4/11/2006,M,W,T1NOMX,1,756
7,8,4/2/2004,Alive,.,10/16/2009,F,W,T2N0,0,2023
8,9,6/3/2004,Alive,.,7/29/2020,F,B,T2N0,0,5900
9,10,6/29/2004,Dead,3/13/2015,3/13/2015,M,B,T2N0,1,3909
10,11,7/1/2004,Dead,8/5/2004,8/5/2004,M,W,T2N0,1,35
11,12,7/15/2004,Alive,.,8/4/2005,F,W,T2N0,0,385
12,13,7/27/2004,Dead,7/26/2006,7/26/2006,M,W,T2N0,1,729
13,14,8/26/2004,Dead,10/10/2004,10/10/2004,M,O,T2N0,1,45
14,15,9/20/2004,Alive,.,8/29/2017,F,W,T1N0,0,4726
15,16,10/29/2004,Dead,4/29/2007,4/29/2007,M,B,T1N0,1,912
16,17,5/2/2005,Dead,1/20/2015,1/20/2015,M,B,pT1pN0,1,3550
17,18,1/13/2005,Dead,10/2/2006,10/2/2006,F,W,T1N0,1,627
18,19,6/7/2005,Dead,12/15/2005,12/15/2005,M,W,PT2PN1,1,191
19,20,8/16/2005,Dead,06/04/2009,6/4/2009,F,W,PT2PN0,1,1388
20,21,8/18/2005,Dead,12/12/2011,12/12/2011,F,A,PT1PN0,1,2307
21,22,8/18/2005,Alive,.,5/9/2006,M,W,pT3N0Mx,0,264
22,23,2/20/2006,Alive,.,4/29/2020,F,W,PT1PN0,0,5182
23,24,4/14/2006,Alive,.,6/5/2009,M,B,PT2PN0,0,1148
24,25,05/02/2006,Dead,2/3/2008,2/3/2008,F,W,PT1PN0,1,642
25,26,6/13/2006,Dead,12/31/2006,12/31/2006,F,W,PT3PN0,1,201
26,27,7/6/2006,Alive,.,7/29/2009,M,W,PT2PN0,0,1119
27,28,7/12/2006,Dead,10/12/2011,10/12/2011,F,W,PT1PN0,1,1918
28,29,8/15/2006,Dead,9/9/2010,9/9/2010,M,W,PT1PN0,1,1486
29,30,4/13/2006,Dead,5/21/2006,5/21/2006,M,W,PT4PN1,1,38

In [16]:
 pattern = r'[Pp]?T[0-9][PN][0-9]?[NM][0-9]?X?' # regular expression pattern

In [17]:
patient_bol=patient['Stage'].str.contains(pattern)
patient_bol

0      True
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
Name: Stage, dtype: bool

In [18]:
 patient_stage_PT=patient[patient_bol]
patient_stage_PT

,PatientID,Specimen date,Dead or Alive,Date of Death,Date of Last Follow Up,sex,race,Stage,Event,Time
0,1,3/17/2003,Dead,2/24/2010,2/24/2010,F,B,pT2N2MX,1,2536
1,2,6/17/2003,Dead,11/12/2004,11/12/2004,M,W,T2N2MX,1,514
2,3,9/9/2003,Dead,8/1/2009,8/1/2009,F,B,T2N1MX,1,2153
18,19,6/7/2005,Dead,12/15/2005,12/15/2005,M,W,PT2PN1,1,191
19,20,8/16/2005,Dead,06/04/2009,6/4/2009,F,W,PT2PN0,1,1388
20,21,8/18/2005,Dead,12/12/2011,12/12/2011,F,A,PT1PN0,1,2307
21,22,8/18/2005,Alive,.,5/9/2006,M,W,pT3N0Mx,0,264
22,23,2/20/2006,Alive,.,4/29/2020,F,W,PT1PN0,0,5182
23,24,4/14/2006,Alive,.,6/5/2009,M,B,PT2PN0,0,1148
24,25,05/02/2006,Dead,2/3/2008,2/3/2008,F,W,PT1PN0,1,642
25,26,6/13/2006,Dead,12/31/2006,12/31/2006,F,W,PT3PN0,1,201
26,27,7/6/2006,Alive,.,7/29/2009,M,W,PT2PN0,0,1119
27,28,7/12/2006,Dead,10/12/2011,10/12/2011,F,W,PT1PN0,1,1918
28,29,8/15/2006,Dead,9/9/2010,9/9/2010,M,W,PT1PN0,1,1486
29,30,4/13/2006,Dead,5/21/2006,5/21/2006,M,W,PT4PN1,1,38

In [9]:
patient_Alive=patient['Dead or Alive'].str.contains("Alive")
patient_Alive

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7      True
8      True
9     False
10    False
11     True
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19    False
20    False
21     True
22     True
23     True
24    False
25    False
26     True
27    False
28    False
29    False
Name: Dead or Alive, dtype: bool

In [10]:
patient[patient_Alive]

,PatientID,Specimen date,Dead or Alive,Date of Death,Date of Last Follow Up,sex,race,Stage,Event,Time
5,6,3/8/2004,Alive,.,1/2/2013,M,W,pT2pN0,0,3222
7,8,4/2/2004,Alive,.,10/16/2009,F,W,T2N0,0,2023
8,9,6/3/2004,Alive,.,7/29/2020,F,B,T2N0,0,5900
11,12,7/15/2004,Alive,.,8/4/2005,F,W,T2N0,0,385
14,15,9/20/2004,Alive,.,8/29/2017,F,W,T1N0,0,4726
21,22,8/18/2005,Alive,.,5/9/2006,M,W,pT3N0Mx,0,264
22,23,2/20/2006,Alive,.,4/29/2020,F,W,PT1PN0,0,5182
23,24,4/14/2006,Alive,.,6/5/2009,M,B,PT2PN0,0,1148
26,27,7/6/2006,Alive,.,7/29/2009,M,W,PT2PN0,0,1119